<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 text-center>
    <ion-icon name="checkmark-done-outline" color="primary" class="icon-7em"></ion-icon>
  </h1>

  <form [formGroup] = "authForm" (submit)="onSubmit()">
    <ion-item>
      <ion-icon name="mail-outline" color="primary" slot="start"></ion-icon>
      <ion-input type="email" placeholder="E - mail" formControlName="email"
      inputmode="email" autofocus></ion-input>

      <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError ('required')">
      Não pode estar em branco</ion-note>
      <ion-note slot="end" color="danger" *ngIf="email.dirty && email.hasError ('email')">
      Email Inválido</ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-open-outline" color="primary" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Digite sua senha"
      formControlName="password"></ion-input>

      <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError ('required')">
      Não pode estar em branco</ion-note>
      <ion-note slot="end" color="danger" *ngIf="password.dirty && password.hasError ('minlength')">
      Mínimo de 6 Caracteres</ion-note>
    </ion-item>

    <ion-button expand="block" type="submit"
    [disabled]=authForm.invalid>Login</ion-button>
  </form>

  <ion-button expand="block" fill="clear">Crie uma conta</ion-button>
  <ion-button expand="block">
    <ion-icon name="logo-facebook" slot="start"></ion-icon>
    Login pelo Facebook
  </ion-button>
</ion-content>
